/*-------------GLOBALES---------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*---------------HEADER---------------*/
#header{
    position:relative;
    height: 15vh;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
   
}

#contenidosHeader{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    
}


#contenedorFotoheader{
    position:absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
}


#fotoheader{
    display: flex;
    justify-content: center;
    height: 15vw;
}


/*---------------CATEGORIAS---------------*/
#coleccionCategorias{
    background-color: yellowgreen;
    display: flex;
    height: 19vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

#coleccionCategorias > * {
    display: flex;
}


/*-----CATEGORIAS-----*/ /*Contenedor titulo y foto*/
.categorias{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  
}


/*-----Fotos-----*/
.fotosCategoria{
    display: flex;
    max-width: 200px;
    max-height: 200px;
    border-radius: 5px;

}



/*-----TITULOS-----*/
.titulosFoto{
    display: flex;
    align-items: end;
  
}



/*---------------GALERIA---------------*/
.galeria{
    width: 100vw;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px; 

}


.galeria > * {
    border-radius: 5px;

}


#tituloGaleria{
    text-align: center;
    margin: 10px;
}

/*---------------PAGINACION---------------*/
.paginacion{
    background-color:rgb(57, 139, 211);
    text-align: center;
}
.pagina{
    list-style-type: none;
    display: inline-block;
  
}






/*---------------768px---------------*/
@media screen and (min-width: 768px){
    #coleccionCategorias{
        flex-direction: column;
    }
    .galeria{
        
    }

}

/*768px*/

/*---------------992px---------------*/
@media screen and (min-width: 992px){
    #coleccionCategorias{
        flex-direction: row;
    }
    .galeria{
        
    }

}

/*992px*/

/*---------------1200px---------------*/
@media screen and (min-width: 1200px){
    #coleccionCategorias{
        flex-direction: row;
    }
    .galeria{

    }

}

/*1200px*/


