/*-------------GLOBALES---------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/*---------------HEADER---------------*/
#header{
    position:relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 15vh;
    min-width: 200px;

}

#contenidosHeader{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-around;

}

#contenedorFotoheader{
    position:absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 1;
}

#fotoheader{
    width: 100%;
    height: 100%;
}

/*-----barra busqueda-----*/
#busqueda{
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 0.2em;
    background-color: #eeeeee;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    opacity: 85%;
}
#busqueda:focus {
    background-color: white;
    box-shadow: 13px 13px 100px #969696,
  }
#busqueda:hover{
        box-shadow: 
        inset 2px 2px 5px #bcbcbc, 
        inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}


/*-----boton-----*/
#submit{
    background-color: #e0e0e0;
    border-radius: 30px;
    box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
    color: #4d4d4d;
    cursor: pointer;

    padding: 2px 10px;
    transition: all 0.2s ease-in-out;
    border: 2px solid rgb(206, 206, 206);
}
#submit:hover{
    box-shadow: 
    inset 2px 2px 5px #bcbcbc, 
    inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}

/*-----selector-----*/
#orientacion{
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 0.2em;
    background-color: #eeeeee;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    opacity: 85%;
}
#orientacion:focus {
    background-color: white;
    box-shadow: 13px 13px 100px #969696,
  }
#orientacion:hover {
        box-shadow: 
        inset 2px 2px 5px #bcbcbc, 
        inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}



/*---------------CATEGORIAS---------------*/
#coleccionCategorias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100vw;

    position: relative;
}

#coleccionCategorias > * {
    display: flex;
}


/*-----contenedores titulo+foto-----*/ 
.categorias{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 10em;
    margin: 10px;
}

/*-----fotos-----*/
.fotosCategoria{
    max-width: 100%;
    border-radius: 5px;
}
.fotosCategoria:hover {
    box-shadow: 
    inset 2px 2px 5px #bcbcbc, 
    inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}


/*-----fondo degradado-----*/

#contenedorFotocategorias{
    position:absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#fondoDegradado{
    width: 100%;
    height: 100%;
}

/*-----titulos-----*/
.titulosFoto{
    display: flex;
    align-items: end;
}



/*---------------GALERIA---------------*/
.galeria{
    width: 100vw;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px; 

}

.galeria > * {
    border-radius: 5px;
}

#tituloGaleria{
    text-align: center;
    margin: 10px;
}




/*---------------PAGINACION---------------*/
.paginacion{
    text-align: center;
    margin: 15px;
}
.pagina{
  list-style-type: none;
  display: inline-block;
}



/*---------------TIPOGRAFIA---------------*/
.h1{
    color: rgb(247, 198, 0);
    font-family: 'Times New Roman', Times, serif;
}
.h2{
    color: rgb(31, 31, 31);
    font-family: 'Times New Roman', Times, serif;

}
#tituloGaleria{
    color: rgb(31, 31, 31);
    font-family: 'Times New Roman', Times, serif;
}
.paginacion{
    color: rgb(31, 31, 31);
    font-family: Arial, Helvetica, sans-serif;
}



/*---------------768px---------------*/
@media screen and (min-width: 768px){

    .categorias{
        width: 10em;
    }

}

/*768px*/

/*---------------992px---------------*/
@media screen and (min-width: 992px){
    
    .categorias{
        width: 15em;
    }
    .h1, .h2, #tituloGaleria{
        font-size: 2em;
    }

}

/*992px*/

/*---------------1200px---------------*/
@media screen and (min-width: 1200px){

    .categorias{
        width: 20em;
    }


}

/*1200px*/


